mixin textarea(attr)
    textarea(
        id= attr.id ? attr.id : false,
        class= attr.className ? attr.className : '',
        name= attr.fieldName ? attr.fieldName : false,
        value= attr.value ? attr.value : false,
        placeholder= attr.placeholder ? attr.placeholder : false,
        disabled= attr.disabled ? '' : false,
        required= attr.required ? '' : false,
        cols= attr.cols ? attr.cols : false,
        rows= attr.rows ? attr.rows : false
    )